Connected Services/StateProvinceService/StateProvinceService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PersoneManagement.Web.Models.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PersoneManagement.Web.Models.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSalesTerritorryDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SalesTerritorryDTO" nillable="true" type="tns:SalesTerritorryDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSalesTerritorryDTO" nillable="true" type="tns:ArrayOfSalesTerritorryDTO" />
  <xs:complexType name="SalesTerritorryDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CountryRegionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TerritoryID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SalesTerritorryDTO" nillable="true" type="tns:SalesTerritorryDTO" />
</xs:schema>